.header {
  display: flex;
  justify-content: space-between;
  background-color: darkkhaki;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: column;
}